
    <mat-card class="gasolinera-card" >
        <mat-card-content class= "gasolinera-content">

            <h2>{{gasolineraInput.rotulo}}</h2>

            <h4><strong>Provincia:</strong>  <div class="ellipsis">{{gasolineraInput.provincia}}</div></h4>

            <h4><strong>Dirección:</strong> <div class="ellipsis">{{gasolineraInput.direccion}}</div></h4>

            <h4><strong>Código Postal:</strong> <div class="ellipsis">{{gasolineraInput.cP}}</div></h4>

            <h4><strong>Precio Gasoleo A:</strong> <div class="ellipsis">{{gasolineraInput.precioGasoleoA}} €/L</div></h4>

            <h4><strong>Precio Gasolina 95:</strong> <div class="ellipsis">{{gasolineraInput.precioGasolina95E5}} €/L</div></h4>


        </mat-card-content>


    </mat-card>




